
<div>
<div><span class="label">IP</span><span>{{ipinfo.ip}}</span></div>
<div><span class="label">Hostname</span><span>{{ipinfo.hostname}}</span></div>
<div><span class="label">City</span><span>{{ipinfo.city}}</span></div>
<div><span class="label">Region</span><span>{{ipinfo.region}}</span></div>
<div><span class="label">Country</span><span>{{ipinfo.country}}</span></div>
<div><span class="label">Postal</span><span>{{ipinfo.postal}}</span></div>
<div><span class="label">Org</span><span>{{ipinfo.org}}</span></div>
<div><span class="label">Location</span><span>{{ipinfo.loc}}</span></div>
</div>


