<!--The content below is only a placeholder and can be replaced.-->
<div>
  <mat-toolbar color="primary">
  <span>Application Header</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <app-clock interval="1000"></app-clock>
</mat-toolbar>

    <mat-tab-group>
      <mat-tab label="Angular Material Examples">
        <mat-tab-group>
            <mat-tab label="Locations"> 
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Locations</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <app-location-table></app-location-table>
                </mat-card-content>
                <mat-card-actions>

                </mat-card-actions>
                <mat-card-footer>
                  Footer
                </mat-card-footer>
              </mat-card> 
            </mat-tab>
            <mat-tab label="Table">
              <mat-card>
                  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="weight">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
                      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                    </ng-container>
                    <ng-container matColumnDef="symbol">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
                      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
              </mat-card>
            </mat-tab>   
            <mat-tab label="Grid List"> 
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Grid List</mat-card-title>
                </mat-card-header>
              <mat-card-content>
                <mat-grid-list cols="2" rowHeight="2:1">
                  <mat-grid-tile>1</mat-grid-tile>
                  <mat-grid-tile>2</mat-grid-tile>
                  <mat-grid-tile>3</mat-grid-tile>
                  <mat-grid-tile>4</mat-grid-tile>
                </mat-grid-list>
              </mat-card-content>
              </mat-card> 
            </mat-tab>
          </mat-tab-group>
        </mat-tab>
        <mat-tab label="Useful Angular Links"> 
        <mat-card>
          <mat-card-header>
            <mat-card-title>Useful Angular Links</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <app-section sectionJson="/sections.json"></app-section>
          </mat-card-content>
        </mat-card> 
      </mat-tab>
      <mat-tab label="Useful REST Links"> 
        <mat-card>
          <mat-card-header>
            <mat-card-title>Useful REST Links</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <app-section sectionJson="/rest-sections.json"></app-section>
          </mat-card-content>
        </mat-card> 
      </mat-tab>
    </mat-tab-group>
  <mat-toolbar color="primary">
  <span>Application Footer</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span><app-get-ipaddress></app-get-ipaddress></span>
</mat-toolbar>
  </div>


